/* @override http://0.0.0.0:4000/css/main.css */

a {
  text-decoration: none;
}

h3 {
  margin-top: 2em;
  font-weight: 100;
}

.right {
  float: right;
  margin-right: 5px;
  margin-left: 1em;
}

.principles, .garages {
  border-radius: 5px;
  background: #eee;
}

.principle, .garage-listing, .project-listing {
  padding: 0.5em 2em;
}
.principle h3, .garage-listing h3, .project-listing h3 {
  font-weight: 300;
  color: #1f8dd6;
}
.principle ul, .garage-listing ul {
  padding-left: 1em;
}
.garage-listing .pure-button {
  font-size: 80%;
  font-weight: normal;
}

.suggestedTechnologies, .difficulty, .credits {
  font-size: 80%;
}

.star {
  display: none; /* TODO */
}

.big-illustration {
  max-width: 100%;
}

#map-canvas {
  height: 14rem; 
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}

#map-loading-msg {
  text-align: center;
  line-height: 7rem;
}

.gmaps-infowindow {
  line-height: 100%;
  color: red;
}