<nav>
  <p class="nav-footer">
    |
    {% for section in site.data.sections %}
      {% assign url = section.url | append: "index.html" %}
      {% if include.param == url %}
        {{ section.name }}
      {% else %}
        <a href="{{ site.url }}{{ section.url }}" title="{{ section.question }}">{{ section.name }}</a>
      {% endif %}
      |
    {% endfor %}
  </p>

  <p class="creative-commons" xmlns:dct="http://purl.org/dc/terms/">
    <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0" /></a>
    To the extent possible under law, <span rel="dct:publisher" resource="[_:publisher]">the person who associated CC0</span> with this work has waived all copyright and related or neighboring rights to this work.
  </p>
  
</nav>
