<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
</a>

<div id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="#">GDG Garage</a>

        <ul>
          {% assign at_one_of_the_pages = false %}
          {% for section in site.data.sections %}
            {% assign url = section.url | append: "index.html" %}
              <li class="menu-item-divided {% if include.param == url %}pure-menu-selected{% endif %}">
                <a href="{{ section.url }}" title="{{ section.question }}">{{ section.name }}</a>
            </li>
          {% endfor %}
        </ul>
    </div>
</div>